In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('game/data/datasets/countries.csv')
data2 = pd.read_csv('game/data/datasets/countries2.csv')

In [3]:
data['Abbreviation'] = data["Abbreviation"].str.lower()
data = data[['Country', 'Population', 'Abbreviation']]

In [4]:
data['Country'].values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe ', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [5]:
def find_country_changes(old_list, new_list):
    set_old = set(old_list)
    set_new = set(new_list)

    added_countries = list(set_new - set_old)
    removed_countries = list(set_old - set_new)

    return added_countries, removed_countries

In [6]:
country_mapping = {
    'Slovak Republic': 'Slovakia',
    'São Tomé and Principe': 'Sao Tome and Principe',
    "Côte d'Ivoire": 'Ivory Coast',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    "Dem. People's Rep. Korea": 'North Korea',
    'Timor-Leste': 'East Timor',
    'West Bank and Gaza': 'Palestinian National Authority',
    'Lao PDR': 'Laos',
    'Dem. Rep. Congo': 'Democratic Republic of the Congo',
    'Congo': 'Republic of the Congo',
    'Korea': 'South Korea',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Micronesia': 'Federated States of Micronesia',
    'Ireland': 'Republic of Ireland',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'St. Lucia': 'Saint Lucia',
    'Syrian Arab Republic': 'Syria',
    'Cabo Verde': 'Cape Verde'
}

In [7]:
data2['country'] = data2['country'].replace(country_mapping)

In [8]:
data2 = data2[['country', 'capital_city', 'region']]

In [9]:
data2[65:75]

          country    capital_city           region
65         Greece          Athens  Southern Europe
66        Grenada    St. George's        Caribbean
67      Guatemala  Guatemala City  Central America
68         Guinea         Conakry   Western Africa
69  Guinea-Bissau          Bissau   Western Africa
70         Guyana      Georgetown    South America
71          Haiti  Port-au-Prince        Caribbean
72       Honduras     Tegucigalpa  Central America
73        Hungary        Budapest   Eastern Europe
74        Iceland       Reykjavík  Northern Europe

In [10]:
data = pd.merge(data, data2, left_on='Country', right_on='country', how='outer')

In [11]:
data = data.drop('country', axis='columns')

In [12]:
data

,Country,Population,Abbreviation,capital_city,region
0,Afghanistan,38041754.0,af,Kabul,Southern Asia
1,Albania,2854191.0,al,Tirana,Southern Europe
2,Algeria,43053054.0,dz,Algiers,Northern Africa
3,Andorra,77142.0,ad,Andorra la Vella,Southern Europe
4,Angola,31825295.0,ao,Luanda,Middle Africa
...,...,...,...,...,...
190,Venezuela,28515829.0,ve,Caracas,South America
191,Vietnam,96462106.0,vn,Hanoi,South-Eastern Asia
192,Yemen,29161922.0,ye,Sana'a,Western Asia
193,Zambia,17861030.0,zm,Lusaka,Eastern Africa
194,Zimbabwe,14645468.0,zw,Harare,Eastern Africa

In [13]:
country_abbreviations = {
    'Republic of the Congo': 'cg',
    'Eswatini': 'sz',
    'Vatican City': 'va',
    'Republic of Ireland': 'ie',
    'Namibia': 'na',
    'North Macedonia': 'mk',
    'Palestinian National Authority' : 'ps'
}

data['Abbreviation'] =  data['Abbreviation'].fillna(data['Country'].map(country_abbreviations))

In [14]:
data.loc[data['Country'] == 'Vatican City', ['capital_city', 'region']] = data.loc[data['Country'] == 'Vatican City', ['capital_city', 'region']].fillna(value={'capital_city':'Vatican City', 'region': 'Southern Europe'})
data.loc[data['Country'] == 'Palestinian National Authority', ['Population']] = data.loc[data['Country'] == 'Palestinian National Authority', ['Population']].fillna(value={'Population': 5429722})

In [15]:
nan_rows = data[data.isna().any(axis=1)==True]
print(nan_rows)

Empty DataFrame
Columns: [Country, Population, Abbreviation, capital_city, region]
Index: []

In [16]:
data

,Country,Population,Abbreviation,capital_city,region
0,Afghanistan,38041754.0,af,Kabul,Southern Asia
1,Albania,2854191.0,al,Tirana,Southern Europe
2,Algeria,43053054.0,dz,Algiers,Northern Africa
3,Andorra,77142.0,ad,Andorra la Vella,Southern Europe
4,Angola,31825295.0,ao,Luanda,Middle Africa
...,...,...,...,...,...
190,Venezuela,28515829.0,ve,Caracas,South America
191,Vietnam,96462106.0,vn,Hanoi,South-Eastern Asia
192,Yemen,29161922.0,ye,Sana'a,Western Asia
193,Zambia,17861030.0,zm,Lusaka,Eastern Africa
194,Zimbabwe,14645468.0,zw,Harare,Eastern Africa

In [17]:
import pygame
import os

def read_images(path):
    files = os.listdir(path)
    images = {}
    for file in files:
        images[file[:2]] = pygame.image.load(path + file)
    return images

pygame 2.5.2 (SDL 2.28.2, Python 3.8.10)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [18]:
flags = read_images("game/data/flags/")
shapes = read_images("game/data/country_shapes/128_img/")

In [19]:
shapes

{'kn': <Surface(128x128x32 SW)>,
 'ge': <Surface(128x128x32 SW)>,
 'ie': <Surface(128x128x32 SW)>,
 'bl': <Surface(128x128x32 SW)>,
 'gy': <Surface(128x128x32 SW)>,
 'gm': <Surface(128x128x32 SW)>,
 'sy': <Surface(128x128x32 SW)>,
 'sd': <Surface(128x128x32 SW)>,
 'gw': <Surface(128x128x32 SW)>,
 'hu': <Surface(128x128x32 SW)>,
 'mc': <Surface(128x128x32 SW)>,
 'sv': <Surface(128x128x32 SW)>,
 'ao': <Surface(128x128x32 SW)>,
 'ki': <Surface(128x128x32 SW)>,
 'ax': <Surface(128x128x32 SW)>,
 'tc': <Surface(128x128x32 SW)>,
 'cn': <Surface(128x128x32 SW)>,
 'ye': <Surface(128x128x32 SW)>,
 'my': <Surface(128x128x32 SW)>,
 'bj': <Surface(128x128x32 SW)>,
 'gi': <Surface(128x128x32 SW)>,
 'nr': <Surface(128x128x32 SW)>,
 'ml': <Surface(128x128x32 SW)>,
 'af': <Surface(128x128x32 SW)>,
 'la': <Surface(128x128x32 SW)>,
 'me': <Surface(128x128x32 SW)>,
 'cz': <Surface(128x128x32 SW)>,
 'hk': <Surface(128x128x32 SW)>,
 'bq': <Surface(128x128x32 SW)>,
 'ir': <Surface(128x128x32 SW)>,
 'cx': <Surface(128x128x32 SW)>,
 'pr': <Surface(128x128x32 SW)>,
 'py': <Surface(128x128x32 SW)>,
 'cd': <Surface(128x128x32 SW)>,
 'ck': <Surface(128x128x32 SW)>,
 'sx': <Surface(128x128x32 SW)>,
 'cm': <Surface(128x128x32 SW)>,
 'bf': <Surface(128x128x32 SW)>,
 'lt': <Surface(128x128x32 SW)>,
 'sg': <Surface(128x128x32 SW)>,
 'nf': <Surface(128x128x32 SW)>,
 'am': <Surface(128x128x32 SW)>,
 'lr': <Surface(128x128x32 SW)>,
 'aw': <Surface(128x128x32 SW)>,
 'jp': <Surface(128x128x32 SW)>,
 'no': <Surface(128x128x32 SW)>,
 'ua': <Surface(128x128x32 SW)>,
 'ug': <Surface(128x128x32 SW)>,
 'mv': <Surface(128x128x32 SW)>,
 've': <Surface(128x128x32 SW)>,
 'ni': <Surface(128x128x32 SW)>,
 'by': <Surface(128x128x32 SW)>,
 'de': <Surface(128x128x32 SW)>,
 'np': <Surface(128x128x32 SW)>,
 'ai': <Surface(128x128x32 SW)>,
 'tm': <Surface(128x128x32 SW)>,
 'tz': <Surface(128x128x32 SW)>,
 'pt': <Surface(128x128x32 SW)>,
 'pa': <Surface(128x128x32 SW)>,
 'gd': <Surface(128x128x32 SW)>,
 'it': <Surface(128x128x32 SW)>,
 'mm': <Surface(128x128x32 SW)>,
 'iq': <Surface(128x128x32 SW)>,
 'sb': <Surface(128x128x32 SW)>,
 'gq': <Surface(128x128x32 SW)>,
 'cy': <Surface(128x128x32 SW)>,
 'mx': <Surface(128x128x32 SW)>,
 'mf': <Surface(128x128x32 SW)>,
 'bg': <Surface(128x128x32 SW)>,
 'bo': <Surface(128x128x32 SW)>,
 'gr': <Surface(128x128x32 SW)>,
 'ru': <Surface(128x128x32 SW)>,
 'ae': <Surface(128x128x32 SW)>,
 'kp': <Surface(128x128x32 SW)>,
 'mg': <Surface(128x128x32 SW)>,
 'ss': <Surface(128x128x32 SW)>,
 'ke': <Surface(128x128x32 SW)>,
 'bm': <Surface(128x128x32 SW)>,
 'tr': <Surface(128x128x32 SW)>,
 'ar': <Surface(128x128x32 SW)>,
 'at': <Surface(128x66x32 SW)>,
 'tj': <Surface(128x128x32 SW)>,
 'mt': <Surface(128x128x32 SW)>,
 'rs': <Surface(128x128x32 SW)>,
 'sz': <Surface(128x128x32 SW)>,
 'bb': <Surface(128x128x32 SW)>,
 'id': <Surface(128x128x32 SW)>,
 'bv': <Surface(128x128x32 SW)>,
 'dz': <Surface(128x128x32 SW)>,
 'ws': <Surface(128x128x32 SW)>,
 'gs': <Surface(128x128x32 SW)>,
 'ec': <Surface(128x128x32 SW)>,
 'mk': <Surface(128x128x32 SW)>,
 'li': <Surface(128x128x32 SW)>,
 'kz': <Surface(128x128x32 SW)>,
 'vc': <Surface(128x128x32 SW)>,
 'et': <Surface(128x128x32 SW)>,
 'bs': <Surface(128x128x32 SW)>,
 'cc': <Surface(128x128x32 SW)>,
 'qa': <Surface(128x128x32 SW)>,
 'ca': <Surface(128x128x32 SW)>,
 'im': <Surface(128x128x32 SW)>,
 'uy': <Surface(128x128x32 SW)>,
 'tl': <Surface(128x128x32 SW)>,
 'sj': <Surface(128x128x32 SW)>,
 'mo': <Surface(128x128x32 SW)>,
 'om': <Surface(128x128x32 SW)>,
 'hn': <Surface(128x128x32 SW)>,
 'gp': <Surface(128x128x32 SW)>,
 'to': <Surface(128x128x32 SW)>,
 'gu': <Surface(128x128x32 SW)>,
 'zm': <Surface(128x128x32 SW)>,
 'pm': <Surface(128x128x32 SW)>,
 'as': <Surface(128x128x32 SW)>,
 'kg': <Surface(128x128x32 SW)>,
 'ms': <Surface(128x128x32 SW)>,
 'ba': <Surface(128x128x32 SW)>,
 'cv': <Surface(128x128x32 SW)>,
 'ls': <Surface(128x128x32 SW)>,
 'se': <Surface(128x128x32 SW)>,
 'ag': <Surface(128x128x32 SW)>,
 'fj': <Surface(128x128x32 SW)>,
 'na': <Surface(128x128x32 SW)>,
 'dk': <Surface(128x128x32 SW)>,
 'gt': <Surface(128x128x32 SW)>,
 'sh': <Surface(128x128x32 SW)>,
 'nu': <Surface(128x128x32 SW)>,
 'au': <Surface(128x128x32 SW)>,
 'do': <Surface(128x128x32 SW)>,
 'mz': <Surface(128x128x32 SW)>,
 'pn': <Surface(128x128x32 SW)>,
 'gg': <Surface(128x128x32 SW)>,
 'cr': <Surface(128x128x32 SW)>,
 'ad': <Surface(128x128x32 SW)>,
 'vi': <Surface(128x128x32 SW)>,
 'pl': <Surface(128x128x32 SW)>,
 'gl': <Surface(128x128x32 SW)>,
 'st': <Surface(128x128x32 SW)>,
 'tk': <Surface(128x128x32 SW)>,
 'kw': <Surface(128x128x32 SW)>,
 're': <Surface(128x128x32 SW)>,
 'sc': <Surface(128x128x32 SW)>,
 'pg': <Surface(128x128x32 SW)>,
 'pf': <Surface(128x128x32 SW)>,
 'ch': <Surface(128x128x32 SW)>,
 'ky': <Surface(128x128x32 SW)>,
 'is': <Surface(128x128x32 SW)>,
 'cg': <Surface(128x128x32 SW)>,
 'fo': <Surface(128x128x32 SW)>,
 'in': <Surface(128x128x32 SW)>,
 'mq': <Surface(128x128x32 SW)>,
 'eg': <Surface(128x128x32 SW)>,
 'mn': <Surface(128x128x32 SW)>,
 'sk': <Surface(128x128x32 SW)>,
 'hr': <Surface(128x128x32 SW)>,
 'zw': <Surface(128x128x32 SW)>,
 'fk': <Surface(128x128x32 SW)>,
 'tf': <Surface(128x128x32 SW)>,
 'co': <Surface(128x128x32 SW)>,
 'mu': <Surface(128x128x32 SW)>,
 'ng': <Surface(128x128x32 SW)>,
 'lc': <Surface(128x128x32 SW)>,
 'vu': <Surface(128x128x32 SW)>,
 'jm': <Surface(128x128x32 SW)>,
 'km': <Surface(128x128x32 SW)>,
 'aq': <Surface(128x128x32 SW)>,
 'eh': <Surface(128x128x32 SW)>,
 'bh': <Surface(128x128x32 SW)>,
 'gh': <Surface(128x128x32 SW)>,
 'si': <Surface(128x128x32 SW)>,
 'pk': <Surface(128x128x32 SW)>,
 'lv': <Surface(128x128x32 SW)>,
 'ee': <Surface(128x128x32 SW)>,
 'gb': <Surface(128x128x32 SW)>,
 'va': <Surface(128x128x32 SW)>,
 'il': <Surface(128x128x32 SW)>,
 'bi': <Surface(128x128x32 SW)>,
 'sm': <Surface(128x128x32 SW)>,
 'uz': <Surface(128x128x32 SW)>,
 'za': <Surface(128x128x32 SW)>,
 'vg': <Surface(128x128x32 SW)>,
 'fr': <Surface(128x128x32 SW)>,
 'hm': <Surface(128x128x32 SW)>,
 'cu': <Surface(128x128x32 SW)>,
 'nl': <Surface(128x128x32 SW)>,
 'kr': <Surface(128x128x32 SW)>,
 'th': <Surface(128x128x32 SW)>,
 'ma': <Surface(128x128x32 SW)>,
 'tt': <Surface(128x128x32 SW)>,
 'so': <Surface(128x128x32 SW)>,
 'br': <Surface(128x128x32 SW)>,
 'dj': <Surface(128x128x32 SW)>,
 'rw': <Surface(128x128x32 SW)>,
 'gn': <Surface(128x128x32 SW)>,
 'pe': <Surface(128x128x32 SW)>,
 'cw': <Surface(128x128x32 SW)>,
 'fi': <Surface(128x128x32 SW)>,
 'lb': <Surface(128x128x32 SW)>,
 'io': <Surface(128x128x32 SW)>,
 'us': <Surface(128x128x32 SW)>,
 'bz': <Surface(128x128x32 SW)>,
 'jo': <Surface(128x128x32 SW)>,
 'wf': <Surface(128x128x32 SW)>,
 'bt': <Surface(128x128x32 SW)>,
 'ro': <Surface(128x128x32 SW)>,
 'cl': <Surface(128x128x32 SW)>,
 'sn': <Surface(128x128x32 SW)>,
 'sa': <Surface(128x128x32 SW)>,
 'ne': <Surface(128x128x32 SW)>,
 'md': <Surface(128x128x32 SW)>,
 'vn': <Surface(128x128x32 SW)>,
 'kh': <Surface(128x128x32 SW)>,
 'sl': <Surface(128x128x32 SW)>,
 'mr': <Surface(128x128x32 SW)>,
 'tg': <Surface(128x128x32 SW)>,
 'nc': <Surface(128x128x32 SW)>,
 'nz': <Surface(128x128x32 SW)>,
 'bw': <Surface(128x128x32 SW)>,
 'dm': <Surface(128x128x32 SW)>,
 'cf': <Surface(128x128x32 SW)>,
 'ht': <Surface(128x128x32 SW)>,
 'yt': <Surface(128x128x32 SW)>,
 'ph': <Surface(128x128x32 SW)>,
 'bn': <Surface(128x128x32 SW)>,
 'er': <Surface(128x128x32 SW)>,
 'be': <Surface(128x128x32 SW)>,
 'pw': <Surface(128x128x32 SW)>,
 'al': <Surface(128x128x32 SW)>,
 'sr': <Surface(128x128x32 SW)>,
 'es': <Surface(128x128x32 SW)>,
 'ci': <Surface(128x128x32 SW)>,
 'bd': <Surface(128x128x32 SW)>,
 'tw': <Surface(128x128x32 SW)>,
 'tn': <Surface(128x128x32 SW)>,
 'mw': <Surface(128x128x32 SW)>,
 'lk': <Surface(128x128x32 SW)>,
 'ga': <Surface(128x128x32 SW)>,
 'ly': <Surface(128x128x32 SW)>,
 'td': <Surface(128x128x32 SW)>,
 'gf': <Surface(128x128x32 SW)>,
 'az': <Surface(128x128x32 SW)>,
 'lu': <Surface(128x128x32 SW)>}

In [20]:
data['Flags'] = data['Abbreviation'].map(flags)
data['Shapes'] = data['Abbreviation'].map(shapes)

In [21]:
nan_rows = data[data.isna().any(axis=1)==True]
print(nan_rows)

                            Country  Population Abbreviation capital_city  \
107                Marshall Islands     58791.0           mh       Majuro
111  Federated States of Micronesia    113815.0           fm      Palikir
133  Palestinian National Authority   5429722.0           ps     Ramallah
181                          Tuvalu     11646.0           tv     Funafuti

           region                     Flags Shapes
107    Micronesia  <Surface(640x337x24 SW)>    NaN
111    Micronesia  <Surface(640x337x24 SW)>    NaN
133  Western Asia  <Surface(640x320x24 SW)>    NaN
181     Polynesia  <Surface(640x320x24 SW)>    NaN

In [22]:
data = data.rename(columns={'Country' : 'country', 'Population' : 'population', 'Abbreviation' : 'abbreviation', 'capital_city' : 'capital'})

In [23]:
data[['country','Flags']]

         country                     Flags
0    Afghanistan  <Surface(640x320x24 SW)>
1        Albania  <Surface(640x457x24 SW)>
2        Algeria  <Surface(640x427x24 SW)>
3        Andorra  <Surface(640x448x24 SW)>
4         Angola  <Surface(640x427x24 SW)>
..           ...                       ...
190    Venezuela  <Surface(640x427x24 SW)>
191      Vietnam  <Surface(640x427x24 SW)>
192        Yemen  <Surface(640x427x24 SW)>
193       Zambia  <Surface(640x427x24 SW)>
194     Zimbabwe  <Surface(640x320x24 SW)>

[195 rows x 2 columns]

In [24]:
data[['country','Shapes']].dropna()

         country                    Shapes
0    Afghanistan  <Surface(128x128x32 SW)>
1        Albania  <Surface(128x128x32 SW)>
2        Algeria  <Surface(128x128x32 SW)>
3        Andorra  <Surface(128x128x32 SW)>
4         Angola  <Surface(128x128x32 SW)>
..           ...                       ...
190    Venezuela  <Surface(128x128x32 SW)>
191      Vietnam  <Surface(128x128x32 SW)>
192        Yemen  <Surface(128x128x32 SW)>
193       Zambia  <Surface(128x128x32 SW)>
194     Zimbabwe  <Surface(128x128x32 SW)>

[191 rows x 2 columns]

In [38]:
df = pd.read_json('game/data/datasets/shape_scale.json', orient='index', typ='series')

# Rename the column to 'Score'
df = df.rename_axis('country_scale').reset_index(name='shape_scale')

In [39]:
df

                        country_scale  shape_scale
0                       United States           99
1                              Canada           97
2                               Japan           95
3                           Australia           94
4                              France           92
..                                ...          ...
189                          Barbados            9
190                            Rwanda            9
191  Saint Vincent and the Grenadines            9
192                          Dominica            8
193                         Mauritius            8

[194 rows x 2 columns]

In [40]:
merged_df = pd.merge(data, df, left_on='country', right_on='country_scale', how='outer')

In [41]:
merged_df.tail(15)

,country,population,abbreviation,capital,region,Flags,Shapes,country_scale,shape_scale
181,Tuvalu,11646.0,tv,Funafuti,Polynesia,<Surface(640x320x24 SW)>,NaN,Tuvalu,11.0
182,Uganda,44269594.0,ug,Kampala,Eastern Africa,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Uganda,15.0
183,Ukraine,44385155.0,ua,Kiev,Eastern Europe,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Ukraine,57.0
184,United Arab Emirates,9770529.0,ae,Abu Dhabi,Western Asia,<Surface(640x320x24 SW)>,<Surface(128x128x32 SW)>,United Arab Emirates,40.0
185,United Kingdom,66834405.0,gb,London,Northern Europe,<Surface(640x320x24 SW)>,<Surface(128x128x32 SW)>,United Kingdom,91.0
186,United States,328239523.0,us,"Washington, D.C.",Northern America,<Surface(640x337x24 SW)>,<Surface(128x128x32 SW)>,United States,99.0
187,Uruguay,3461734.0,uy,Montevideo,South America,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Uruguay,12.0
188,Uzbekistan,33580650.0,uz,Tashkent,Central Asia,<Surface(640x320x24 SW)>,<Surface(128x128x32 SW)>,Uzbekistan,44.0
189,Vanuatu,299882.0,vu,Port Vila,Melanesia,<Surface(640x384x24 SW)>,<Surface(128x128x32 SW)>,Vanuatu,14.0
190,Venezuela,28515829.0,ve,Caracas,South America,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Venezuela,42.0
191,Vietnam,96462106.0,vn,Hanoi,South-Eastern Asia,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Vietnam,77.0
192,Yemen,29161922.0,ye,Sana'a,Western Asia,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Yemen,32.0
193,Zambia,17861030.0,zm,Lusaka,Eastern Africa,<Surface(640x427x24 SW)>,<Surface(128x128x32 SW)>,Zambia,36.0
194,Zimbabwe,14645468.0,zw,Harare,Eastern Africa,<Surface(640x320x24 SW)>,<Surface(128x128x32 SW)>,Zimbabwe,19.0
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sao Tome and Principe,14.0